@model IEnumerable<MVCExampleDemo.Models.Employee>
@{
    ViewData["Title"] = "CollectionOfObjectPassing";
}

<h1>CollectionOfObjectPassing</h1>

<style>
	table {
		border-collapse: collapse;
		width: 50%;
	}

	table, th, td {
		border: 2px solid black;
	}

	th, td {
		padding: 8px;
		text-align: left;
	}
</style>

<table>
	<thead>
		<tr>
			<th>EmployeeID</th>
			<th>EmployeeName</th>
			<th>Salary</th>
			<th>Image</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var mod in Model)
		{
			<tr>
				<td>@mod.EmployeeId</td>
				<td>@mod.EmployeeName</td>
				<td>@mod.EmpSalary</td>
				<td><img src="@mod.ImageUrl" alt="@mod.ImageUrl" height="100px" width="100px" /></td>
				<td>
					<a href="/Home/Details/@mod.EmployeeId">Details</a>
					<a asp-controller="Home" asp-action="Details"
					   asp-route-id="@mod.EmployeeId">Details</a>
				</td>
			</tr>
		}
	</tbody>
</table>
